{% extends 'layout.html.twig' %}

{% block title %}Ajouter
{% endblock %}


{% block content %}

	<div class="container w-55 mb-5 mt-3">
		<h2>
			Ajouter des articles
		</h2>
        <hr><br>


		{{ form(formArticle) }}
		</div>


	{% endblock %}
