{% extends 'layout.html.twig' %}

{% block title %}Ajout Photos{% endblock %}

{% block content %}
<div class="container w-50 mb-5 mt-3">
	<h1>Ajout images d'illustrations </h1>

{{ form(photoIll) }}

</div>

{% endblock %}
